apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: es-data
  labels:
    component: elasticsearch
    role: data
spec:
  replicas: ${ES_DATA_REPLICAS}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        component: elasticsearch
        role: data
      annotations:
        scheduler.alpha.kubernetes.io/affinity: |
          {
            \"podAntiAffinity\": {
              \"requiredDuringSchedulingIgnoredDuringExecution\": [
                {
                  \"labelSelector\": {
                    \"matchLabels\": {
                        \"component\": \"elasticsearch\",
                        \"role\": \"data\"
                      }
                  },
                  \"topologyKey\": \"kubernetes.io/hostname\"
                }
              ]
            }
          }
    spec:
      containers:
      - name: es-data
        securityContext:
          privileged: true
          capabilities:
            add:
              - IPC_LOCK
        image: kayrus/docker-elasticsearch-kubernetes:5.2.2
        args:
        - /run.sh
        - -Epath.conf=/etc/elasticsearch
        readinessProbe:
          tcpSocket:
            port: 9300
          timeoutSeconds: 1
          successThreshold: 3
        imagePullPolicy: Always
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CLUSTER_NAME
          valueFrom:
            configMapKeyRef:
              name: es-env
              key: es-cluster-name
        - name: NODE_MASTER
          value: 'false'
        - name: NODE_DATA
          value: 'true'
        - name: HTTP_ENABLE
          value: 'false'
        - name: ES_JAVA_OPTS
          valueFrom:
            configMapKeyRef:
              name: es-env
              key: es-data-java-opts
        - name: ES_CLIENT_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: es-env
              key: es-client-endpoint
        - name: ES_PERSISTENT
          valueFrom:
            configMapKeyRef:
              name: es-env
              key: es-persistent-storage
        ports:
        - name: transport
          containerPort: 9300
          protocol: TCP
        # Random hostPort to prevent multiple ES data instances on one node
        - name: dummy
          containerPort: 28652
          protocol: TCP
          hostPort: 28652
        volumeMounts:
        - name: storage
          mountPath: /data
        - name: es-config
          mountPath: /etc/elasticsearch
        # /pre-stop-hook.sh hook is already used in /run.sh on pod shutdown
        #lifecycle:
        #  preStop:
        #    exec:
        #      command:
        #      - '/pre-stop-hook.sh'
      # Wait infinite, we have to move all indices from the current node and only after that shut down the pod
      terminationGracePeriodSeconds: 31557600
      volumes:
      - name: storage
        hostPath:
          path: '/data/elk'
      #- name: storage
      #  emptyDir: {}
      - name: es-config
        configMap:
          name: es-config
      nodeSelector:
        elasticsearch.data: 'true'
